body {
    background-color:#f2f2f2;
}

.App {
    margin:20px auto;
    width:100%;
    max-width: 9.5cm;
    background-color:#fff; 
    border-bottom: 2px solid rgba(128, 128, 128, 0.212);
    border-right: 2px solid rgba(128, 128, 128, 0.212);
}

.pad {
    padding:15px 20px 20px 20px;
}

.underlined {
    border-width: 0 0 2px 0;
    border-color: gray;
    border-style: dotted;
}

.placeholder {
    height:1em;
}

.monofont {
    font-family: Consolas, Monaco, monospace;
}

button {
    padding: 10px 20px;
    margin:0 10px;
    outline:none;
    border:1px solid #A26273;
    border-radius:7px;
}

.button_primary {
    color: #fff;
    background-color: #A26273;
}

.button_secondary {
    color:black;
    background-color: #E4B2B6;
}

.dictfield {
    text-align:center;
    padding:15px;
    margin:0 20px;
}

.large {
    font-size:2em;
}

.right {
    color: green
}

.wrong {
    color:red
}

.normal {
    color:black
}

.small_button {
    display: inline-block;
    padding: 5px;
    font-size: 25px;
    margin: 4px;
    cursor: pointer;
    width: 1em;
    height:1.2em; 
    background-color:#E4B2B6;
    border-radius:5px;
    vertical-align: bottom /*默认是baseline*/
}

.message {
    margin:8px 0 15px 0;
    vertical-align: center;
    text-align:left;
    padding:5px;
    color:red;
    font-size:0.7em
}

.tip {
    color:rgba(18, 130, 241, 0.8); 
}

.sign_form {
    text-align:left;
    padding:15px 0
}

.button_group {
    margin:15px;
    text-align:center
}

.link_button {
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.8em
}

.marker {
    width:100px;
    height:100px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-50px;
    margin-top:-50px;
    z-index:9999;
    background-color: beige;
    border-radius:15px;
    opacity:0.8;
}

.marker div {
    height:100%;
    vertical-align:middle;
    font-size:4em;
    color:red;
    text-align: center;
}

.submit_key {
    background-color:orange !important;
}