html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

input {
    background-color:inherit;
    text-align: center;
}

button {
    background-color:rgb(228, 178, 182);
    border-radius:5px;
    border:1px solid gainsboro;
    outline: none;
    user-select: none;
}

button:active {
    background-color: brown;
    color:white;
}

button.primary {
    padding:0.5rem 1rem;
    font-size: 1rem;
}

button.puzzle_piece {
    font-size: 1.5rem;
    margin: 0.3rem;
    width: 3rem;
    height:3rem; 
    vertical-align: bottom; /*默认是baseline*/
}

button.btn_bkspc {
    font-size: 2.5rem;
    margin: 0.3rem;
    width: 5rem;
    height:3rem;
    background-color: rgb(225,225,225,0);
    color:rgb(228, 178, 182);
    border:none;
}

button.btn_bkspc:active {
    color:brown;
}

table {
    /* width:18rem; */
    margin:2rem auto;
    text-align: left;
}

#root {
    height:100%;
}

.app {
    width: 100%;
    max-width: 12cm;
    background-color: white;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

.header {
    background-color: brown;
    padding: 0.5rem 1rem;
    height:1.5rem;
}

.message_bar {
    padding: 0.5rem 1rem;
    height:1.5rem;
    background-color: inherit;
    transition: background-color 1s;
}

.content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.min_page {
    text-align: center;
    padding:1rem;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 5rem;
}

.learn_box {
    height: 6rem;
    margin:0 auto 2rem auto; 
}

.puzzle_box {
    width:18rem;
    margin: 1em auto;
    text-align:center;
} 

.composed_box {
    width:17rem;
    margin:0 auto;
    height:2.5rem;
    line-height: 2.5rem;
    padding:5px 8px;
    border:1px dotted gray;
    border-radius:8px;
    background-color: white;
}

.composed_text {
    width:12rem;
    float:left;
    font-size:1.5rem;
    text-align: left;
    vertical-align: center;
}

.mark {
    float: right;
    width:2.5rem;
    height:2.5rem;
    line-height:2.5rem;
    text-align: center;
    font-size:2.5rem;
    vertical-align: center;
}

.mark_anim {
    transition: all 0.2s;
}

.phonetic {
    font-family:'Microsoft Yahei',sans-serif,Arial,Verdana;
    font-size:1rem;
}

.monofont {
    font-family: Consolas,Monaco,monospace !important;
}

.tip {
    color: blue;
    font-size: 1rem;
    height:1.5em;
}

.submit_key {
    background-color: orange !important;
}

.pagerel_active {
    color: black;
    padding: 0 0.3rem;
}

.pagerel_blur {
    color:rgba(0, 0, 0, 0.137);
    padding: 0 0.3rem;
}

.pager_box {
    padding: 1rem;
    margin:0 auto;
}

.underlined {
    border-width: 0 0 2px 0;
    border-color: gray;
    border-style: dotted;
    outline: none;
}

.cursordefault {
    cursor:default;
}

.marginbottom {
    margin-bottom:1rem;
}

.marginleft {
    margin-left:1rem;
}

.fontnormal {
    font-size: 1rem;
}

.fontsmall {
    font-size: 0.81rem;
}

.fontlarge {
    font-size: 1.38rem;
}

.fontextralarge {
    font-size: 3rem;
}

.textcenter {
    text-align: center;
}

.colorred {
    color:red;
}

.colorblack {
    color:black;
}

.colorwhite {
    color:white;
}

.colorgold {
    color:gold;
}

.bgwarn {
    background-color: rgba(2255,255,204, 0.651);
}

.bgpeace {
    background-color: whitesmoke;
}

.elvisible {
    visibility: visible;
}

.elinvisible {
    visibility: hidden;
}

@keyframes pagemove {
    0% {
    transform:translateX(0);
    }
    30% {
    transform:translateX(-100%);
    }
    31% {
    transform:translateX(100%);
    }
    100% {
    transform:translateX(0);
    }
}

@keyframes selfrotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page_ani {
    animation: pagemove 1.5s;
}

.load_ani {
    animation: selfrotate 2s infinite;
}

.fade {
    opacity: 1;
}
.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: all 6000ms ease-out;
}