body {
    background-color:Azure;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

#puzzle, #learn{
    padding:15px;
}

#composed, #word-display {
    background-color:AliceBlue;
    padding:5px
}

span {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
    width: 1em;
}