body {
    background-color:#f2f2f2;
}

.App {
    margin:20px auto;
    width:8cm;
    background-color:#fff; 
    padding:15px 20px 25px 20px;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #A26273;
}

input {
    outline:none;
    border-width: 0 0 1px 0;
}

.word-display {
    /* background-color:white; */
    padding:5px
}

.btn-panel span {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    margin: 4px;
    cursor: pointer;
    width: 1em;
    background-color:#E4B2B6;
/*     border-width:1px 3px 3px 1px;
    border-color:gainsboro;
    border-style: solid; */
    border-radius:5px;
}